.signin_container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.signin_main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(156, 232, 255);
}

.signin_block_back {
    max-width: 370px;
    min-width: 200px;
    width: 30%;
    height: 230px;
    padding: 40px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
}

.signin_block {
    text-align: center;
    box-sizing: border-box;
}

.signin_button a {
    width: 225px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 20px 0px;
    padding: 10px 0px;
    color: #fff;
    background-color: rgb(0, 140, 255);
    border-radius: 30px;
    transition: 0.5s;
}

.signin_Adress input {
    padding: 10px;
    margin-top: 20px ;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 0;
}

.signin_password input {
    padding: 10px;
    margin: 20px 0px;
    box-sizing: border-box;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 0;
}

.signin_button a:hover {
    background-color: #fff;
    border: 1px solid rgb(0, 140, 255);
    color: rgb(0, 140, 255);
}

.move_signup_button a{
    text-decoration: none;
    color: rgb(0, 140, 255);
    transition: 0.5s;
}

.move_signup_button a:hover {
    color:rgb(0, 38, 255)
}